---
extends: default

ignore: |
  .git/
  .venv/
  **/.venv/**
  **/site-packages/**
  .tox/
  node_modules/
  ansible/inventory/prod/group_vars/all/vault.yml

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 140
    allow-non-breakable-words: true
  truthy:
    allowed-values: ["true", "false"]
  indentation:
    spaces: 2
    indent-sequences: consistent
