apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: flux-allow-kustomize-to-source
  namespace: {{ gitops_namespace }}
spec:
  endpointSelector:
    matchLabels:
      app.kubernetes.io/component: kustomize-controller
  egress:
    - toEndpoints:
        - matchLabels:
            app.kubernetes.io/component: source-controller
      toPorts:
        - ports:
            - port: "80"
              protocol: TCP
            - port: "9440"
              protocol: TCP
  egressDeny: []
  ingressDeny: []
