apiVersion: "cilium.io/v2"
kind: CiliumNetworkPolicy
metadata:
  name: flux-allow-dns
  namespace: {{ gitops_namespace }}
spec:
  endpointSelector: {}
  egress:
    - toEndpoints:
        - matchLabels:
            "kubernetes.io/metadata.name": kube-system
      toPorts:
        - ports:
            - port: "53"
              protocol: UDP
            - port: "53"
              protocol: TCP
