apiVersion: v1
kind: Secret
metadata:
  name: {{ gitops_githubapp_secret_name }}
  namespace: {{ gitops_namespace }}
type: Opaque
stringData:
  githubAppID: "{{ github_app_id }}"
  githubAppInstallationID: "{{ github_app_installation_id | default(github_installation_id) }}"
  githubAppPrivateKey: |-
{% if github_app_private_key_pem is defined %}
{{ github_app_private_key_pem | indent(4, true) }}
{% else %}
{{ lookup('file', github_app_key_path) | indent(4, true) }}
{% endif %}
