stringData:
  # Required by Flux SourceController when provider=github
  githubAppID: "{{ gitops_github_app_id_internal }}"
  githubAppInstallationID: "{{ gitops_github_installation_id_internal }}"
  githubAppPrivateKey: |
    {{ gitops_github_private_key_pem_internal | indent(4) }}
